<!DOCTYPE html>
<html lang="en">
    <!--
        Author: Ryan Corrigan
        Class: Software Engineering
        Project: Azure Website
        Description: HTML file for my landing page for my website.
    -->
    <head>
        <title>Portfolio</title>
    </head>

    <body>
        <h1>Ryan Corrigan</h1>
		<h2>Web Assignments</h2>
		</br>
        <a href="https://ambitious-cliff-0150b6210.azurestaticapps.net/">Getting To Know Each Other</a><br>
        <a href="https://agreeable-smoke-040a45b10.azurestaticapps.net/">Resume</a><br>
        <a href="https://salmon-smoke-0453d7a10.azurestaticapps.net/">Ryan's Dice Game</a><br>
		<a href="https://yellow-bay-0d6f24010.azurestaticapps.net/">RegExp</a><br>
		<a href="https://green-forest-01b9f8210.azurestaticapps.net/">Hello World Map</a><br>
        <a href="https://black-hill-0c7043810.azurestaticapps.net/">Map Mania V1</a>
    </body>
</html>